<h2>Register Your Office</h2>

<%= form_for(resource, as: :user, url: create_user_path, html: {class: "form01"}) do |f| %>
  <%= devise_error_messages! %>

  <span class="label">Office:</span>
  <%= text_field_tag :office_name, nil %>

  <span class="label">Name:</span>
  <%= f.text_field :name, class: "g_inpt" %>
  
  <span class="label">Email:</span>
  <%= f.email_field :email %>

  <span class="label">Password:</span>
  <%= f.password_field :password, class: "g_inpt" %>
  
  <span class="label">Password Confirmation:</span>
  <div class="clear"></div>
  <%= f.password_field :password_confirmation %>
  <%= f.hidden_field(:is_admin, value: true) %>
  <button type="sumbit" class="input_btn" value="signup">Sign up</button><br><br>

<% end %>

<%= render "devise/shared/links" %>
