<h2>Add User</h2>

<%= form_for(resource, as: resource_name, url: create_employee_path, html: {class: "form01"}) do |f| %>
    
    <span class="label">Office of:</span>
    <%= f.collection_select(:office_id, Office.all, :id, :name, include_blank: false) %>

    <span class="label">Name:</span>
    <%= f.text_field :name %>

    <span class="label">Email</span>
    <%= f.email_field :email  %>
  
    <span class="label">Password:</span>
    <%= f.password_field :password %>

    <span class="label">Password Confirmation:</span>
    <div class="clear"></div>
    <%= f.password_field :password_confirmation %>
    <span class="label">Make this Employee an Admin</span>

    <!-- IF COMPANY HAS ADMIN, THEN THIS SHOULD BE HIDDEN  -->
    <%= f.check_box :is_admin %>

    <!-- DROPDOWN TO SELECT OFFICE  -->

    <%= f.hidden_field(:office_id, value: current_user.office_id) %>
    <button type="sumbit" class="input_btn" value="signup">Sign up</button><br><br>
    <a href="/" value="cancel">Cancel</a>
    <!-- <input type="button" class="sub_btn" value="submit"> -->
<% end %>