<h2>Add User</h2>

<%= form_for @user, url: create_user_path do |f| %>
  <%= devise_error_messages! %>

  <span class="label">Office of:</span>
  <%= collection_select( :user, :office_id, Office.all, :id, :name, {include_blank: false} ) %>  

  <span class="label">Name:</span>
  <%= f.text_field :name %>
  
  <span class="label">Email:</span>
  <%= f.email_field :email %>

  <span class="label">Password:</span>
  <%= f.password_field :password %>
  
  <span class="label">Password Confirmation:</span>
  <%= f.password_field :password_confirmation %>

  <!-- Sets user to ADMIN with Office creation -->
  <%= f.hidden_field(:is_admin, value: true) %>

  <button type="sumbit" class="input_btn" value="signup">Sign up</button><br><br>

<% end %>

<%= render "devise/shared/links" %>
