<h2>Add Call</h2>

<div class="container">
  <%= form_for @call, url: {action: "create"} do |f| %>

    <%= f.fields_for :phone_number do |phone_number| %>
      <span class="label">Phone Number:</span>
      <%= phone_number.text_field :phone_number %>
    <% end %>

    <%= f.fields_for :category do |category| %>
      <span class="label">Category:</span>
      <%= category.text_field :category %>
    <% end %>

    <%= f.fields_for :sub_category do |sub_category| %>
      <span class="label">Sub Category:</span>
      <%= sub_category.text_field :sub_category %>
    <% end %>

    <button type="sumbit" class="input_btn" value="new_call">Add Call</button><br><br>

  <% end %>
</div>